.producttitle{
    color:#4caf50 ;
}
.row1{
    height: 200px;
   
}
.allimage{
    height: 50%;
    width: 70%;
    margin-top: 15px;
}
.set1{
    border: 1px solid black;
    width: 150px;
    height: auto;
    border-radius: 10px;
    margin-left: 100px;
    cursor: pointer;
}
.productsname{
    font-weight: 900;
}