*{
    font-size: 0.9rem;
    padding-bottom: 0%;
    padding-top: 0%;
    
}
.topnavbar{
    border-bottom: 1px solid black;
    width: 100%;
    // background-color: white;
    
}
.register{
    border: none;
    color: #4caf50;
}
.login:hover{
    border: 1px solid #4caf50;
    border-radius: 3px;
}
.login{
    border: none;
    background-color: white;
    color:#4caf50;
    
    
}
.Icon1{
    font-size: 0.9rem;
}
.phone .truck .user{
    color: #262626;
}